* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
main {
  color: #ffffff;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bs-teal);
}
.container {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 2rem;
  background: #1db487;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 600px;
}
textarea {
  font: size 1.5rem;
}
.btn-danger {
  background-color: #f0932b;
  border: none;
  border-radius: 50px;
  padding: 7px 20px;
  display: inline-block;
  width: fit-content;
  margin: 10px;
}
.highlight {
  background-color: #273c75;
}
